.font {
  font-family: 'Roboto', sans-serif;
}
.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.justify-content {
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-flow {
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}
.fade-common {
  /* -webkit-transition-delay: .3s;
   transition-delay: .3s;*/
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.fade.ng-enter {
  /* -webkit-transition-delay: .3s;
   transition-delay: .3s;*/
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /*transition:0.5s linear all;
  opacity:0;*/
}
.fade.ng-enter:nth-child(15) {
  -webkit-transition-delay: 3000ms;
  transition-delay: 3000ms;
}
.fade.ng-enter:nth-child(14) {
  -webkit-transition-delay: 2800ms;
  transition-delay: 2800ms;
}
.fade.ng-enter:nth-child(13) {
  -webkit-transition-delay: 2600ms;
  transition-delay: 2600ms;
}
.fade.ng-enter:nth-child(12) {
  -webkit-transition-delay: 2400ms;
  transition-delay: 2400ms;
}
.fade.ng-enter:nth-child(11) {
  -webkit-transition-delay: 2200ms;
  transition-delay: 2200ms;
}
.fade.ng-enter:nth-child(10) {
  -webkit-transition-delay: 2000ms;
  transition-delay: 2000ms;
}
.fade.ng-enter:nth-child(9) {
  -webkit-transition-delay: 1800ms;
  transition-delay: 1800ms;
}
.fade.ng-enter:nth-child(8) {
  -webkit-transition-delay: 1600ms;
  transition-delay: 1600ms;
}
.fade.ng-enter:nth-child(7) {
  -webkit-transition-delay: 1400ms;
  transition-delay: 1400ms;
}
.fade.ng-enter:nth-child(6) {
  -webkit-transition-delay: 1200ms;
  transition-delay: 1200ms;
}
.fade.ng-enter:nth-child(5) {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
.fade.ng-enter:nth-child(4) {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
.fade.ng-enter:nth-child(3) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.fade.ng-enter:nth-child(2) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
.fade.ng-enter:nth-child(1) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  /*  opacity:1;*/
  opacity: 1;
  -webkit-transform: translate(0, -1.6rem);
  -ms-transform: translate(0, -1.6rem);
  transform: translate(0, -1.6rem);
}
.fade.ng-leave {
  opacity: 1;
  -webkit-transform: translate(0, -1.6rem);
  -ms-transform: translate(0, -1.6rem);
  transform: translate(0, -1.6rem);
  /*  transition:0.5s linear all;
  opacity:1;*/
}
.fade.ng-leave.ng-leave-active {
  opacity: 1;
  -webkit-transform: translate(0, -1.6rem);
  -ms-transform: translate(0, -1.6rem);
  transform: translate(0, -1.6rem);
  /*  opacity:0;*/
}
.fade.ng-move {
  /* -webkit-transition-delay: .3s;
   transition-delay: .3s;*/
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /*transition:0.5s linear all;
  opacity:0;*/
}
.fade.ng-move:nth-child(15) {
  -webkit-transition-delay: 3000ms;
  transition-delay: 3000ms;
}
.fade.ng-move:nth-child(14) {
  -webkit-transition-delay: 2800ms;
  transition-delay: 2800ms;
}
.fade.ng-move:nth-child(13) {
  -webkit-transition-delay: 2600ms;
  transition-delay: 2600ms;
}
.fade.ng-move:nth-child(12) {
  -webkit-transition-delay: 2400ms;
  transition-delay: 2400ms;
}
.fade.ng-move:nth-child(11) {
  -webkit-transition-delay: 2200ms;
  transition-delay: 2200ms;
}
.fade.ng-move:nth-child(10) {
  -webkit-transition-delay: 2000ms;
  transition-delay: 2000ms;
}
.fade.ng-move:nth-child(9) {
  -webkit-transition-delay: 1800ms;
  transition-delay: 1800ms;
}
.fade.ng-move:nth-child(8) {
  -webkit-transition-delay: 1600ms;
  transition-delay: 1600ms;
}
.fade.ng-move:nth-child(7) {
  -webkit-transition-delay: 1400ms;
  transition-delay: 1400ms;
}
.fade.ng-move:nth-child(6) {
  -webkit-transition-delay: 1200ms;
  transition-delay: 1200ms;
}
.fade.ng-move:nth-child(5) {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
.fade.ng-move:nth-child(4) {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
.fade.ng-move:nth-child(3) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.fade.ng-move:nth-child(2) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
.fade.ng-move:nth-child(1) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
/* The finishing CSS styles for the enter animation */
.fade.ng-move.ng-move-active {
  /*  opacity:1;*/
  opacity: 1;
  -webkit-transform: translate(0, -1.6rem);
  -ms-transform: translate(0, -1.6rem);
  transform: translate(0, -1.6rem);
}
.repeated-item.ng-move,
.repeated-item.ng-move {
  opacity: 1;
  -webkit-transform: translate(0, -1.6rem);
  -ms-transform: translate(0, -1.6rem);
  transform: translate(0, -1.6rem);
  /* transition: all 0.5s linear;
  opacity: 0;*/
}
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity: 1;
  -webkit-transform: translate(0, -1.6rem);
  -ms-transform: translate(0, -1.6rem);
  transform: translate(0, -1.6rem);
  /*opacity: 1;*/
}
.slide.ng-enter {
  transition: 0.5s linear all;
  transform: translateY(-100px);
}
.slide.ng-enter.ng-enter-active {
  transform: translateY(0);
}
.animate-enter,
.animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}
.animate-leave.animate-leave-active,
.animate-enter {
  -webkit-transform: rotateX(-180deg) translatez(30px);
  -moz-transform: rotateX(-180deg) translatez(30px);
  -ms-transform: rotateX(-180deg) translatez(30px);
  -o-transform: rotateX(-180deg) translatez(30px);
  transform: rotateX(-180deg) translatez(30px);
  opacity: 0;
  height: 0px;
}
.animate-enter.animate-enter-active,
.animate-leave {
  -webkit-transform: rotateX(0deg) translatez(30px);
  -moz-transform: rotateX(0deg) translatez(30px);
  -ms-transform: rotateX(0deg) translatez(30px);
  -o-transform: rotateX(0deg) translatez(30px);
  transform: rotateX(0deg) translatez(30px);
  opacity: 1;
  height: 30px;
}
div.about {
  background-color: #292F32;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: space-between;
  overflow-y: initial;
}
div.about div.container {
  flex: 0 1 90%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
div.about div.container > * {
  /* -webkit-transition-delay: .3s;
   transition-delay: .3s;*/
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
  -webkit-transform: translate(0, -1.6rem);
  -ms-transform: translate(0, -1.6rem);
  transform: translate(0, -1.6rem);
}
div.about div.container > *:nth-child(15) {
  -webkit-transition-delay: 3000ms;
  transition-delay: 3000ms;
}
div.about div.container > *:nth-child(14) {
  -webkit-transition-delay: 2800ms;
  transition-delay: 2800ms;
}
div.about div.container > *:nth-child(13) {
  -webkit-transition-delay: 2600ms;
  transition-delay: 2600ms;
}
div.about div.container > *:nth-child(12) {
  -webkit-transition-delay: 2400ms;
  transition-delay: 2400ms;
}
div.about div.container > *:nth-child(11) {
  -webkit-transition-delay: 2200ms;
  transition-delay: 2200ms;
}
div.about div.container > *:nth-child(10) {
  -webkit-transition-delay: 2000ms;
  transition-delay: 2000ms;
}
div.about div.container > *:nth-child(9) {
  -webkit-transition-delay: 1800ms;
  transition-delay: 1800ms;
}
div.about div.container > *:nth-child(8) {
  -webkit-transition-delay: 1600ms;
  transition-delay: 1600ms;
}
div.about div.container > *:nth-child(7) {
  -webkit-transition-delay: 1400ms;
  transition-delay: 1400ms;
}
div.about div.container > *:nth-child(6) {
  -webkit-transition-delay: 1200ms;
  transition-delay: 1200ms;
}
div.about div.container > *:nth-child(5) {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
div.about div.container > *:nth-child(4) {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
div.about div.container > *:nth-child(3) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
div.about div.container > *:nth-child(2) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
div.about div.container > *:nth-child(1) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
div.about div.container h1 {
  font-weight: 200;
  font-size: 34px;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 134px;
  flex: 1;
}
div.about div.container p {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.4;
  color: #777a7d;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  flex: 0 1 100%;
  text-align: center;
}
div.about div.container section.articles-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  padding-top: 49px;
}
div.about div.container section.articles-wrap article {
  /* -webkit-transition-delay: .3s;
   transition-delay: .3s;*/
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
  -webkit-transform: translate(0, -1.6rem);
  -ms-transform: translate(0, -1.6rem);
  transform: translate(0, -1.6rem);
  padding: 0;
  flex: 1 1;
}
div.about div.container section.articles-wrap article:nth-child(15) {
  -webkit-transition-delay: 3000ms;
  transition-delay: 3000ms;
}
div.about div.container section.articles-wrap article:nth-child(14) {
  -webkit-transition-delay: 2800ms;
  transition-delay: 2800ms;
}
div.about div.container section.articles-wrap article:nth-child(13) {
  -webkit-transition-delay: 2600ms;
  transition-delay: 2600ms;
}
div.about div.container section.articles-wrap article:nth-child(12) {
  -webkit-transition-delay: 2400ms;
  transition-delay: 2400ms;
}
div.about div.container section.articles-wrap article:nth-child(11) {
  -webkit-transition-delay: 2200ms;
  transition-delay: 2200ms;
}
div.about div.container section.articles-wrap article:nth-child(10) {
  -webkit-transition-delay: 2000ms;
  transition-delay: 2000ms;
}
div.about div.container section.articles-wrap article:nth-child(9) {
  -webkit-transition-delay: 1800ms;
  transition-delay: 1800ms;
}
div.about div.container section.articles-wrap article:nth-child(8) {
  -webkit-transition-delay: 1600ms;
  transition-delay: 1600ms;
}
div.about div.container section.articles-wrap article:nth-child(7) {
  -webkit-transition-delay: 1400ms;
  transition-delay: 1400ms;
}
div.about div.container section.articles-wrap article:nth-child(6) {
  -webkit-transition-delay: 1200ms;
  transition-delay: 1200ms;
}
div.about div.container section.articles-wrap article:nth-child(5) {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
div.about div.container section.articles-wrap article:nth-child(4) {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
div.about div.container section.articles-wrap article:nth-child(3) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
div.about div.container section.articles-wrap article:nth-child(2) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
div.about div.container section.articles-wrap article:nth-child(1) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
div.about div.container section.articles-wrap article h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: .85em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
div.about div.container section.articles-wrap article p {
  margin-bottom: 0;
  margin: .5em 0;
  color: #777a7d;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: left;
}
div.about footer {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  margin: 47px 0 14px;
}
div.about footer ul.socials {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
div.about footer ul.socials li {
  width: 35px;
  height: 35px;
  background-color: #fff;
  margin-right: 20px;
  border-radius: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  /* -webkit-transition-delay: .3s;
   transition-delay: .3s;*/
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
  -webkit-transform: translate(0, -1.6rem);
  -ms-transform: translate(0, -1.6rem);
  transform: translate(0, -1.6rem);
}
div.about footer ul.socials li:nth-child(15) {
  -webkit-transition-delay: 3000ms;
  transition-delay: 3000ms;
}
div.about footer ul.socials li:nth-child(14) {
  -webkit-transition-delay: 2800ms;
  transition-delay: 2800ms;
}
div.about footer ul.socials li:nth-child(13) {
  -webkit-transition-delay: 2600ms;
  transition-delay: 2600ms;
}
div.about footer ul.socials li:nth-child(12) {
  -webkit-transition-delay: 2400ms;
  transition-delay: 2400ms;
}
div.about footer ul.socials li:nth-child(11) {
  -webkit-transition-delay: 2200ms;
  transition-delay: 2200ms;
}
div.about footer ul.socials li:nth-child(10) {
  -webkit-transition-delay: 2000ms;
  transition-delay: 2000ms;
}
div.about footer ul.socials li:nth-child(9) {
  -webkit-transition-delay: 1800ms;
  transition-delay: 1800ms;
}
div.about footer ul.socials li:nth-child(8) {
  -webkit-transition-delay: 1600ms;
  transition-delay: 1600ms;
}
div.about footer ul.socials li:nth-child(7) {
  -webkit-transition-delay: 1400ms;
  transition-delay: 1400ms;
}
div.about footer ul.socials li:nth-child(6) {
  -webkit-transition-delay: 1200ms;
  transition-delay: 1200ms;
}
div.about footer ul.socials li:nth-child(5) {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
div.about footer ul.socials li:nth-child(4) {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
div.about footer ul.socials li:nth-child(3) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
div.about footer ul.socials li:nth-child(2) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
div.about footer ul.socials li:nth-child(1) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
div.about footer ul.socials li:hover {
  background-color: #292F32;
}
div.about footer ul.socials li:hover i {
  color: #fff;
}
div.about footer ul.socials li:last-child {
  margin: 0;
}
div.about footer ul.socials li i {
  color: #292F32;
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
div.about footer .address {
  flex: 1;
  text-align: center;
  margin: 0;
}
div.about footer .address h2 {
  font-weight: 200;
  font-size: 24px;
  color: #777a7d;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
  margin-top: 0;
}
div.about footer .address p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  color: #777a7d;
  font-family: 'Roboto', sans-serif;
}
div.about footer ul.contacts {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
div.about footer ul.contacts li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 47px;
}
div.about footer ul.contacts li:last-child {
  padding-bottom: 0px;
}
div.about footer ul.contacts li i {
  color: #777a7d;
  font-weight: 200;
  font-size: 32px;
  padding-right: 5px;
}
div.about footer ul.contacts li span {
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
