@import "var";

@media (min-width: 768px) {
  html, body {
    height: 100%;
  }

  /*.container {
    flex-direction: row;
    flex-wrap: nowrap;
  }*/
  body section.container {
    // .display-flex;
    flex-direction: row;
    /*    flex-wrap: nowrap;
        align-items: stretch;
        width: 100%;
        height: 100%;*/
    align-items: stretch;
    width: 100%;
    height: 100%;

    [ui-view='desktop'] {
      flex-direction: column;
    }

    div.about {
      overflow-y: hidden;
    }

    h1 {
      flex: 0 1 75% !important;
    }
    p {
      flex: 0 1 82% !important;
      //text-align: center !important;
    }

    section.articles-wrap {
      flex-flow: row nowrap !important;
      padding-top: 15px !important;

      article {
        &:first-child, &:last-child {
          padding: 0 !important;
        }
        padding: 0 15px !important;
      }

    }

    div.about div.container h1 {
      font-size: 40px;
    }

    footer {
      margin-top: 100px;
    }

    footer ul.socials {
      li {
        width: 50px;
        height: 50px;
        i {
          font-size: 32px;
        }
      }
    }

    footer .address {
      margin: 20px 0;
    }

    footer ul.contacts {
      margin-bottom: 34px;
      flex-flow: row nowrap;
      li {
        &:last-child {
          margin-right: 0px;
        }
        margin-right: 35px;
        padding-bottom: 0px;
      }
    }

    #nav {
      flex: 0 auto;
      .display-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      //justify-content: center;
      //align-items: center;

      ul {
        //  flex: 0 80px;
        .display-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: initial;
        // justify-content: center;
      }
      #nav-details {
        max-width: 322px;
        flex: 1 1 100%;
        .display-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        justify-content: initial;
      }
    }

    #nav-details .filter .filter-item .item-wrap {
       padding: 12px 25px 12px 23px;
    }


    #main {
      flex: 1 100%;
    }

    main.goods {
      flex-direction: row;
      section.header {
        position: fixed;
      }
      section.goods {
        margin-top: 118px;
        overflow-y: scroll;
        height: 100%;

        ul {
          justify-content: flex-start !important;
          li.good-item {
            flex: 1 1 !important;
          }
        }
      }
    }

    main.product {
      section.header {
        header {
          padding-left: 50px !important;
          h1 {
            flex: 1;
            text-align: left;
          }
        }
      }
      section.product {
        .display-flex;
        flex-flow: row wrap;
        justify-content: center;

        .img-container {
          .display-flex;
          flex-flow: row nowrap;
          //flex: 0 1 30%;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 15px 30px 30px 15px;

          ul.img-nav {
            .display-flex;
            flex-flow: column nowrap;
            padding: 10px;

            li.item {
              width: 50px;
              height: 50px;
              overflow: hidden;
              margin: 0 auto;
              text-align: center;
              &:hover {
                border: 3px solid #f90;
                border-radius: 4px;
              }
              img {
                max-width: 48px;
                max-height: 48px;
                width: 100%;
              }
            }
          }

          .img-target {
            .display-flex;
            img {
              max-height: 350px;
              width: auto;
            }
          }

        }

        section.info {
          .display-flex;
          flex-flow: column nowrap;
          flex: 0 1 30%;
          padding: 15px 30px 30px 15px;
          .good-caption {
            span {

              font-family: 'Roboto', sans-serif;
              color: #4b555a;
              font-size: 21px;
              font-weight: 200;
              text-align: center;
            }
          }
          .good-tools {
            .display-flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 5% 5% 0 5%;
            margin-top: 15px;
            .left-side {

              //flex: 1 1 100%;
              .display-flex;
              flex-flow: column wrap;
              //  justify-content: space-between;
              // align-items: flex-start;
              margin-right: 2%;
              .price-wrap {
                min-width: 80px;
                font-family: 'Roboto', sans-serif;
                color: #4b555a;
                .display-flex;
                flex-flow: row nowrap;
                span.number {
                  font-size: 19px;
                  font-weight: 800;
                }
                span.currency {
                  font-size: 12px;
                  font-weight: 400;
                }
              }
              .state-wrap {
                span {
                  font-family: 'Roboto', sans-serif;
                  color: #4b555a;
                  font-size: 14px;
                  font-weight: 200;
                }
              }
              .topseller-wrap {
                .display-flex;
                flex-flow: column nowrap;
                font-family: 'Roboto', sans-serif;
                font-weight: 200;
                // color: #ff000a;
                font-size: 11px;
                color: #090;
                padding: 18% 0 0 0;
              }
            }
            .right-side {
              //flex: 1 1 100%;
              //margin-left: 2%;
              .buy-wrap {
                .display-flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                background-color: #00acbd;
                -webkit-transition: all .2s cubic-bezier(.3, 1, .3, 1);
                transition: all .2s cubic-bezier(.3, 1, .3, 1);
                min-width: 150px;
                min-height: 40px;
                border-radius: 4%;
                .buy {
                  color: #fff;
                  font-weight: 800;
                  font-size: 20px;
                }
                i {
                  color: #fff;
                  font-weight: 200;
                  font-size: 23px;
                  margin-left: 6px;
                  /*  -webkit-transition: all .1s cubic-bezier(.3, 1, .3, 1);
                    transition: all .1s cubic-bezier(.3, 1, .3, 1);
                    -webkit-transition-delay: 150ms;
                    transition-delay: 150ms;*/
                }
                &:hover {
                  /*i {
                    -webkit-transform: translate(4px);
                    -ms-transform: translate(4px);
                    transform: translate(4px);

                    -webkit-transition: all .3s cubic-bezier(.3, 1, .3, 1);
                    transition: all .3s cubic-bezier(.3, 1, .3, 1);
                  }*/
                  background-color: #0098aa;
                }
              }
            }
          }
        }

        section.details {
          .display-flex;
          flex-flow: column nowrap;
          flex: 0 1 70%;
          padding: 15px;
          margin-top: 15px;

          .header {
            .display-flex;
            flex-flow: row nowrap;
            height: 40px;
            align-items: center;
            justify-content: center;
            //background-color: #e9e9e9;
            margin-bottom: 28px;
            span {
              font-weight: 200;
              font-size: 44px;
              color: #222;
              .font;
            }
          }
          ul {
            .display-flex;
            flex-flow: column nowrap;

            li {
              .display-flex;
              flex-flow: row nowrap;
              flex: 1;
              min-height: 25px;
              padding: 4px 20px;

              .title {
                .display-flex;
                flex-flow: row wrap;
                width: 30%;
                align-items: flex-start;
                // justify-content: flex-end;
                padding-right: 10px;
                flex: 1 1 auto;
                span {
                  color: #999;
                  font-size: 17px;
                  font-weight: 400;
                  color: #777a7d;
                  .font;
                }
              }
              .value {
                .display-flex;
                flex-flow: row wrap;
                width: 70%;
                align-items: flex-start;
                justify-content: flex-start;
                flex: 2 1 auto;
                span {
                  color: #999;
                  font-size: 17px;
                  font-weight: 400;
                  color: #777a7d;
                  .font;
                }
              }
            }
          }
        }
      }

    }

    #main [ui-view] main section.header header {
      padding-left: 50px;
    }

  }
}

/*@media (min-width: 992px) {
  .container {
    flex-direction: column;
  }

  #main {
    flex: 1 auto;
  }

  #nav.less {
    ul {
      .display-flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  !*#nav.less {
    flex: 0 80px;
  }*!
  #nav.less-details {
    flex: 0 322px;

  }
}*/